@model APP.Models.UserInput

@{
    ViewData["Title"] = "Signup";
}

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="~/Updatedpassword.cshtml.css" asp-append-version="true" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Gloock&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Poppins" rel='stylesheet'>
</head>


<body class="bg" style="background: rgb(153,16,180);
background: linear-gradient(320deg, rgba(153,16,180,1) 0%, rgba(245,237,246,1) 0%, rgba(183,103,224,1) 100%);">
    @{
        

        //Console.WriteLine("This is Viewbag phonenumber "+@ViewBag.phonenumber);

        <h1 class="header">password Updated Successfully ✅</h1>
        <h5 class="Verification">We'll send you an new password to register mobile number +91******* </h5> <p class="alert">*Make sure to change the password once you Login.*</p>

        <div class="image">
            <img class="mail-sent" src="../../img/mail2.png" class="bg-img" alt="background">
        </div>
        
        
            @* <label>@ViewBag.phonenumber</label> *@
            <button type="submit" id="ok" class="btn btn-primary">OK</button>
        

        <a href="../Home/Signin">
        
        <button type="submit"  class="button" >Cancel</button>
        </a>
        




    }

</body>