@model APP.Models.UserInput

@{
    ViewData["Title"] = "Signup";
}

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="~/ForgotPassword.cshtml.css" asp-append-version="true" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Gloock&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Poppins" rel='stylesheet'>
</head>


<body class="bg" style="background: rgb(153,16,180);
background: linear-gradient(320deg, rgba(153,16,180,1) 0%, rgba(245,237,246,1) 0%, rgba(183,103,224,1) 100%);">

    <h1 class="header">Reset Pin 📳</h1>
    <h5 class="Verification">Make sure you have your Reset Pin</h5>
    <p class="alert"></p>

    <div class="image">
        <img class="mail-sent" src="../../img/mail2.png" class="bg-img" alt="background">
    </div>

    <form method="post" asp-action="Verification">
        <div class="mb-3">
            <label for="exampleInputUsername" id="userinput" class="form-label">PassKey</label>
            <input type="text" class="form-control" id="username" asp-for="Reset_Key" minlength="3" maxlength="40"
                aria-describedby="emailHelp"
                style="position: absolute;width: 301px;height: 52px;    left: 150px;top: 310px;background-color: rgba(244, 72, 247, 0.27);box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);border-radius: 14px;"
                placeholder="ResetPassword Key" required>
        </div>
        <input type="text" class="form-control" id="username" asp-for="Email" minlength="3" maxlength="40"
            aria-describedby="emailHelp"
            style="position: absolute;width: 301px;height: 52px;    left: 150px;top: 310px;background-color: rgba(244, 72, 247, 0.27);box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);border-radius: 14px;"
            placeholder="ResetPassword Key" value=@ViewBag.mail hidden>
        </div>
        <button type="submit" id="button" class="btn btn-primary">Submit</button>
    </form>




</body>