


#button[b-3r0v2a90jb]{
    position: absolute;
    bottom: 60px;
    right: 80px;
    width: 200px;
    height: 60px;
    background-color: #ec23f0;
    border-radius: 8px;
    border-color: #ec23f0;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 100;
    font-size: 20px;
    color: black;
    line-height: 30px;
}


#pen[b-3r0v2a90jb]{
    width: 25px;
    height: 25px;
}