@{
    ViewData["Title"] = "Mail";
}


<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index</title>
    <link rel="stylesheet" href="~/Index.cshtml.css" asp-append-version="true" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Gloock&display=swap" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Poppins' rel='stylesheet'>
</head>

<body>

    <body style="background: rgb(153,16,180);
background: linear-gradient(320deg, rgba(153,16,180,1) 0%, rgba(246,237,242,1) 0%, rgba(183,103,224,1) 100%);"></body>
    <div class="head">

        <div class="text">
            <h1 class="hello">Hello 🖐</h1>
            <h5 class="content">Doc is a mailing and management system. Doc is a complete SaaS-based where you can send,
                manage and chat with experts.</h5>
            <a href="/home/Signin" id="button" class="btn btn-primary">Login</a>
        </div>

        <div class="image">
            <img src="../../img/bg.png" class="bg-img" alt="background">
        </div>

    </div>

</body>

</html>