.from[b-zo9e3pa0r9]{
    position: absolute;
    width: 290px;
    height: 40px;
    border-radius: 7px;
    justify-content: left;
    left: 480px;
    top: 150px;
    /* margin-right: 200px; */
}

.From_text[b-zo9e3pa0r9]{
    position: absolute;
    justify-content: left;
    left: 410px;
    top: 155px;
}

.To[b-zo9e3pa0r9]{
    width: 290px;
    height: 40px;
    border-radius: 7px;
    position: absolute;
    justify-content: left;
    left: 480px;
    top: 250px;
}

.to_text[b-zo9e3pa0r9]{
    position: absolute;
    justify-content: left;
    left: 410px;
    top: 255px;
}

.subject[b-zo9e3pa0r9]{
    width: 290px;
    height: 40px;
    border-radius: 7px;
    position: absolute;
    justify-content: left;
    left: 480px;
    top: 350px;
}

.subject_text[b-zo9e3pa0r9]{
    position: absolute;
    justify-content: left;
    left: 400px;
    top: 355px;
}

.Content[b-zo9e3pa0r9]{
    width: 290px;
    /* height: 40px; */
    border-radius: 7px;
    position: absolute;
    justify-content: left;
    left: 480px;
    top: 450px;
}

.Content_text[b-zo9e3pa0r9]{
    position: absolute;
    justify-content: left;
    left: 390px;
    top: 485px;
}

